{% extends "accounts/base.html" %}

    {% block content %}
    <br>
    <div class="row">
        <div class="col-md">

            <div class="card shadow-sm p-3 mb-5 bg-white card-body"> 
             <h5 class="card-header">Customer:</h5>
             <hr>
             <a class="btn btn-outline-success btn-sm btn-block" href="">Update Customer</a>
             <a class="btn btn-outline-danger btn-sm btn-block" href="">Delete Customer</a>
             </div>
        </div>

     <div class="col-md">
        <div class="card shadow-sm p-3 mb-5 bg-white card-body"> 
             <h5 class="card-header">Contact information</h5>
                <hr>
                <p>Email: </p>
                <p>Phone: </p>
             </div>
        </div>
  
        <div class="col-md">
            <div class="card shadow-sm p-3 mb-5 bg-white card-body"> 
                <h5 class="card-header">Total Orders</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px"></h1>
             </div>
        </div>
    </div>
    <br> 
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get">
                    <button class="btn btn-outline-secondary" type="submit">Search     
                    </button> 
                </form>   
            </div> 
        </div> 
    </div>
        
    <div class="row">
        <div class="col-md">
            <div class="card shadow-sm p-3 mb-5 bg-white roundedcard-body"> 
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Date Ordered</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr> 
                </table>  
            </div>
        </div>
     </div>
    {% endblock %}
   